
// Base Style
body {
    color: #222;
}
a {
    color: #3251c6;
}
hr, table, tbody th, tbody td {
    border-color: #cdd0f5;
    border-style: dotted;
}
tr:nth-child(even) {
    background: #f8f8f8;
}
thead, tfoot {
    background: #dfe0ff;
    th {
        font-weight: bold;
    }
}
input[type=text], input[type=email], input[type=password], textarea, select {
    border-color: #cdd0f5;
    background-color: #fff;
}
optgroup {
    font-weight: bold
}
option {
    font-weight: normal
}

// Structure
.hgroup h1,
.user-nav ul li:not(:last-child) {
    border-color: #cdd0f5;
    border-style: dotted;
}
.header a {
    color: #222;
    h1 a {
        text-decoration: none;
    }
}
.nav ul li.active a {
    color: #222;
    background-color: #fff;    
}
.nav,
.aside .content,
.footer {
    border-color: transparent;
    background: #DFE0FF;
}
.footer p {
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
}
.header {
    border-color: transparent;
}

// Module Messages
.message {
    background-color: #e8eaff
}
.message > h6 {
    font-weight: bold
}
.message > span {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #666;
}
.message > span a {
    color: #666
}

// Module Pagination
.pagination {
    li {
        * {
            background: #dfe0ff;
        }
    }
}


// Moduel Forms
.form {
    div {
        background-color: #dfe0ff
    }
    > div:last-child {
        padding: 0;
        background: none;
    }
    p { 
        font-weight: bold
    }
}


// Module Colors
.info {
    background-color: #dfe0ff
}
.success {
    background-color: #d5ffce
}
.warning {
    background-color: #fffbcc
}
.error {
    background-color: #ffcece
}
.off {
    color: #999;
    background-color: #f2f2f2;
}
