$color_default: #222;
$color_off: #888;

$bg_default: #dfe0ff;
$bg_success: #d5ffce;
$bg_warning: #fffbcc;
$bg_error: #ffcece;
$bg_off: #f2f2f2;

// Base Style
body {
    color: $color_default;
}
a {
    color: #3251c6;
}
hr, table, tbody th, tbody td {
    border-color: #ededed;
}
tr:nth-child(even) {
    background: #f8f8f8;
}
thead, tfoot {
    background: #dfe0ff;
}
input[type=text], input[type=email], input[type=password], textarea, select {
    border-color: #ededed;
    background-color: #fff;
    color: $color_default;
}
optgroup {
    font-weight: bold
}
option {
    font-weight: normal
}

// Structure
.user-nav ul li:first-child {
    color: $color_off;
}
.hgroup h1,
.user-nav ul li:not(:last-child) {
    border-color: #ededed;
}
.user-nav ul li:last-child {
    border-right: none;
} 
.header a {
    color: #222;
    h1 a {
        text-decoration: none;
    }
}

.nav,
.footer {
    border-color: transparent;
    background: #DFE0FF;
}
.aside .content {
    border-color: transparent;
    ul li a {
        background: #DFE0FF;
    }
}

.footer p {
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
}
.header {
    border-color: transparent;
}

.nav ul li.active a {
    color: #222;
    background-color: #fff;    
}

// Module Messages
.message {
    background-color: #e8eaff
}
.message > h6 {
    font-weight: bold
}
.message > span {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #666;
}
.message > span a {
    color: #666
}

// Module Pagination
.pagination {
    li {
        * {
            background: #dfe0ff;
        }
        &.active * {
            background: transparent;
            color: $color_default;
        }
    }
}


// Moduel Forms
.form {
    div {
        background-color: #dfe0ff
    }
    > div:last-child {
        padding: 0;
        background: none;
    }
    p { 
        font-weight: bold
    }
}
.form-search {
    input, button {
        border-color: #ededed;
    }
}


// Module Colors
.info {
    background-color: #dfe0ff;
}
.success {
    color: #0b8d07 !important;
    background-color: #d5ffce !important;
}
.warning {
    color: #a86800 !important;
    background-color: #fffbcc !important;
}
.error {
    color: #cd0a0a !important;
    background-color: #ffcece !important;
}
.off {
    color: #999 !important;
    background-color: #f2f2f2 !important;
}


// COMMON
.required:after {
    content: " *";
    color: #cd0a0a;
    font-weight: bold;
}
.view {
    p {
        span {
            color: $color_off;
            display: inline-block;
            width: 60px;
            margin-right: 10px;
        }
        padding-bottom: 5px;
        border-bottom: 1px solid #dedede;
    }
}
